In [1]:
import math as mt

In [3]:
mt.sqrt(25)

5.0

In [5]:
mt.pi

3.141592653589793

In [6]:
import numpy as np

In [10]:
import scipy

In [11]:
from scipy import stats

In [12]:
from numpy import random

In [13]:
dataOne = random.rand(5,5)

In [14]:
np.mean(dataOne)

0.45101959099423594

In [15]:
random.rand(5,5)

array([[0.17140899, 0.55035494, 0.82077616, 0.31292607, 0.70366024],
       [0.91907712, 0.53630335, 0.81077896, 0.47396818, 0.66828619],
       [0.00975557, 0.84756769, 0.6252427 , 0.55990003, 0.77098339],
       [0.24580899, 0.63022987, 0.47834495, 0.22550343, 0.89536088],
       [0.08371882, 0.5970002 , 0.61152966, 0.86664234, 0.73921284]])

In [16]:
dataOne

array([[0.52027681, 0.15558339, 0.10684684, 0.09450927, 0.71229728],
       [0.37934242, 0.18168338, 0.94765572, 0.79643999, 0.03667564],
       [0.82557287, 0.22762859, 0.81798429, 0.55799301, 0.69547443],
       [0.38219606, 0.48034583, 0.99733988, 0.14699872, 0.25726684],
       [0.59305059, 0.04868552, 0.79331556, 0.01677475, 0.50355208]])

In [17]:
print('I love data science')

I love data science

In [18]:
variableName = 25

In [19]:
variableName1 = 'I love data science'

In [20]:
print(variableName)

25

In [21]:
print(variableName1)

I love data science

In [22]:
type(variableName)

int

In [23]:
variableName = 25.0

In [24]:
type(variableName)

float

In [25]:
varOne = 25

In [26]:
varTwo = 25.0

In [27]:
varThree = varOne + varTwo

In [28]:
varThree

50.0

In [29]:
print(varThree)

50.0

In [30]:
varTwo = 'Hello'

In [32]:
varThree = varOne + varTwo

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [33]:
listOne = [1,2,3,4]

In [34]:
print(listOne[1:3])

[2, 3]

In [36]:
print(listOne[0:1])

[1]

In [37]:
tel = {'jack': 4098, 'sape': 4139}

In [58]:
tel['jack']

4098

In [61]:
print('Excercise 3.1')

Excercise 3.1

In [40]:
dict = {'one': 1111, 'two': 2222, 'three':3333, 'four':4444, 'five':5555}

In [41]:
print(dict)

{'one': 1111, 'two': 2222, 'three': 3333, 'four': 4444, 'five': 5555}

In [44]:
listOne[1:4]

[2, 3, 4]

In [45]:
listOne[1:2]

[2]

In [47]:
square = dict['two']+dict['three']+dict['four']

In [48]:
mt.sqrt(square)

99.99499987499375

In [49]:
mt.sqrt(dict['one'])

33.331666624997915

In [50]:
areaFour = mt.pi*(dict['four'])*(dict['four'])

In [51]:
print(areaFour)

62043740.57234571

In [54]:
average = (dict['two'], dict['three'], dict['four'])

In [55]:
print(average)

(2222, 3333, 4444)

In [56]:
np.mean(average)

3333.0

In [63]:
print('Chapter IV Exercises')

Chapter IV Exercises

In [66]:
echo "# C5_T1" >> README.md
git init
git add README.md
git commit -m "first commit"
git remote add origin https://github.com/rsalaud/C5_T1.git
git push -u origin master

SyntaxError: invalid syntax (<ipython-input-66-431598247fee>, line 1)